.dashed{
  border: 1px dashed white;
}


.glow {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}


/* @-webkit-keyframes glow {
    from { text-shadow: 0 0 0px red; }
    to { text-shadow: 0 0 50px red; }
} */


body {
    margin: 0;
    padding: 0;
}
canvas {
    position: absolute;
}


#switch_div{
    position: relative;
}

#switch_off{
    position: absolute;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.transparent{
    opacity: 0;
}

.content-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.turn-power-on-text{
    text-align: center;
    color: white;
    font-family: Electrolize;
    font-weight: bold;
    font-size: 6vw;
    margin-bottom: 120px;
}


.power_button{
    width: 100%;
}
@media (min-width: 1200px){
    .turn-power-on-text{
        font-size: 60px;
    }
}
@media (min-width: 700px){
    #switch_div{
        width: 45%;
        max-width: 500px;
    }
}

@media (max-width: 700px){
    #switch_div{
        width: 70%;
    }
}

/* @media(min-width: 701px){
    .switch_wrapper{
        width: 40%!important;
    }
} */